{% assign interests = site.data.data.sidebar.interests %}
{% if certification %}
<div class="interests-container container-block">

    <h2 class="container-block-title">
        Certification
    </h2>

    <ul class="list-unstyled interests-list">
        {% for certification in certification %}

        {% if certification.link %}
        <li><a href="{{ certification.link }}">{{ certification.item }}</a></li>
        {% else %}
        <li>{{ certification.item }}</li>
        {% endif %}

        {% endfor %}
    </ul>

</div><!--//interests-->
{% endif %}
